{
  "singleQuote": true,
  "trailingComma": "all",
  "pluginSearchDirs": ["."],
  "astroAllowShorthand": false,
  "overrides": [
    {
      "files": "**/*.astro",
      "options": { "parser": "astro" }
    },
    {
      "files": "**/*.svelte",
      "options": { "parser": "svelte" }
    }
  ]
}
