{
  "trailingComma": "all",
  "pluginSearchDirs": ["."],
  "overrides": [
    {
      "files": "**/*.astro",
      "options": { "parser": "astro" }
    },
    {
      "files": "**/*.svelte",
      "options": { "parser": "svelte" }
    }
  ]
}
