---
import BaseHead from '../components/base-head.astro';
import Hero from '../components/index-sections/hero.astro';
import SocialLinks from '../components/index-sections/social-links.astro';
import AboutMe from '../components/index-sections/about-me/index.svelte';

let title = 'Jeppe Reinhold';
let description = "reinhold.is Jeppe's Personal Website";
let permalink = 'https://reinhold.is/';

---

<html lang="en">

<head>
  <BaseHead title={title} description={description}
    permalink={permalink} />
</head>

<body>
  <Hero />
  <SocialLinks />
  <AboutMe client:idle />
</body>

</html>
