---
import BaseHead from '../components/base-head.astro';
import LazyBackgroundImage from '../components/lazy-background-image.astro';

import Hero from '../components/index-sections/hero.astro';
import SocialLinks from '../components/index-sections/social-links.astro';
import AboutMe from '../components/index-sections/about-me/index.svelte';
import FakeWriting from '../components/index-sections/fake-writing/section.astro';
import Ratings from '../components/index-sections/ratings/index.astro';

let title = 'Jeppe Reinhold';
let description = "reinhold.is Jeppe's Personal Website";
let permalink = 'https://reinhold.is/';

---

<html lang="en">

<head>
  <BaseHead title={title} description={description}
    permalink={permalink} />
</head>

<body>
  <LazyBackgroundImage />
  <Hero />
  <SocialLinks />
  <AboutMe client:idle />
  <FakeWriting client:visible />
  <Ratings />
</body>

</html>
