<footer>
  <span>
    Built by Jeppe with help from <a href="https://jkelstrup.com">Jonas</a>,
    using <a href="https://astro.build" target="_blank">Astro</a> and <a
      href="https://svelte.dev"
      target="_blank"
      >Svelte
    </a>, source on <a href="https://github.com/jreinhold/reinhold.is"
      >GitHub
    </a>, deployed to
    <a href="https://deno.com">Deno</a>. Background by Apple.
  </span>
</footer>

<style>
  footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: var(--font-size-0);
    color: var(--gray-8);
  }
</style>
