:root {
  --link: var(--red-9);
  --link-visited: var(--red-9);
  --theme-accent: var(--red-9);
  --theme-accent-rgb: var(--color-red-rgb);

  --link-hsl: var(--red-9-hsl);
  --link-visited-hsl: var(--red-9-hsl);
  --theme-accent-hsl: var(--red-9-hsl);
}
