:root {
  --link: var(--blue-9);
  --link-visited: var(--blue-9);
  --theme-accent: var(--blue-9);
  --theme-accent-rgb: var(--color-blue-rgb);

  --link-hsl: var(--blue-9-hsl);
  --link-visited-hsl: var(--blue-9-hsl);
  --theme-accent-hsl: var(--blue-9-hsl);
}
