:root {
  --link: var(--purple-3);
  --link-visited: var(--purple-3);
  --theme-accent: var(--purple-3);
  --theme-accent-rgb: var(--color-purple-rgb);

  --link-hsl: var(--purple-3-hsl);
  --link-visited-hsl: var(--purple-3-hsl);
  --theme-accent-hsl: var(--purple-3-hsl);
}
