@import "open-props/style";
@import "open-props/normalize";
@import "open-props/colors";
@import "open-props/colors-hsl";
@import "open-props/gradients";

html {
  font-family: var(--font-sans);
  background-color: var(--gray-9);
}

pre > div[class*="code-container"] > code {
  padding: 0;
}
