@import "open-props/style";
@import "open-props/normalize";
@import "open-props/colors";
@import "open-props/colors-hsl";
@import "open-props/gradients";

html {
  font-family: var(--font-sans);
  background: var(--background);
}

section,
footer {
  display: flex;
  flex-direction: column;

  margin: 0 var(--size-fluid-1);
  padding: var(--size-fluid-2);
  gap: var(--size-1);

  border-radius: var(--radius-4);
}

@supports (backdrop-filter: blur(30px)) {
  section,
  footer {
    backdrop-filter: blur(30px);
    background: hsl(var(--surface-1-hsl) / 60%);
  }
}

/* stronger background color when backdrop cannot be blurred */
@supports not (backdrop-filter: blur(30px)) {
  section,
  footer {
    background: hsl(var(--surface-1-hsl) / 90%);
  }
}

h1 {
  font-size: var(--font-size-fluid-3);
}

h2 {
  font-size: var(--font-size-fluid-2);
  font-weight: var(--font-weight-6);
}

a {
  text-decoration-color: var(--theme-accent);
}

.icon {
  fill: currentColor;
  width: var(--size-4);
}
